version: '3.8'

services:
  backend:
    build: ./backend
    container_name: nexus-backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app # Update local changes in real-time
    restart: always
    env_file:
      - .env

  frontend:
    build: ./frontend
    container_name: nexus-frontend
    ports:
      - "8501:8501"
    volumes:
      - ./frontend:/app
    depends_on:
      - backend # Backend should start before frontend
    env_file:
      - .env
