fastapi
uvicorn
langchain>=0.1.0
langchain-community>=0.0.10
langchain-openai
langchain-text-splitters
chromadb
openai
python-dotenv
pypdf
python-multipart
docx2txt
pymupdf
ragas
datasets
llama-index
cryptography
aiosqlite